<div id="just-a-slider1" class="dragdealer">
  <div id="slide-bar1" class='handle red-bar'>%</div>
</div>

<div id="just-a-slider2" class="dragdealer">
  <div id="slide-bar2" class='handle red-bar'>%</div>
</div>

<div id="just-a-slider3" class="dragdealer">
  <div id="slide-bar3" class='handle red-bar'>%</div>
</div>

<div id="just-a-slider4" class="dragdealer">
  <div id="slide-bar4" class='handle red-bar'>%</div>
</div>

<div id="just-a-slider5" class="dragdealer">
  <div id="slide-bar5" class='handle red-bar'>%</div>
</div>

<div id="just-a-slider6" class="dragdealer">
  <div id="slide-bar6" class='handle red-bar'>%</div>
</div>

<div>

</div>